@model IEnumerable<ProyectoFinal.Models.Tablas.Medicos>

@{
    ViewBag.Title = "Index";
}

<h2>Medicos</h2>
<br />
<div style="position:relative;left:40px;">
    @using (Html.BeginForm("Index", "Medicos", FormMethod.Post))
    {
    <div>
        <h6 class="">Filtros de busqueda</h6>
        <div class="row">
            @Html.TextBox("valor", "", new { @class = "form-control col-sm-4", placeholder = "Busqueda", required = "required" })
            <select name="select" class="form-control col col-lg-2">
                <option value="">--Selecciones--</option>
                <option value="nombre">Nombre</option>
                <option value="especialidad">Especialidad</option>>
            </select>
            <div class="col-2">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                <button class="btn btn-danger" type="button" onclick="generatePDF();">PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
    }
</div>
<br />
<div id="tabla">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exequatur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exequatur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdMedicos }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdMedicos }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdMedicos }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    </div>

    <p class="text-right">
        @Html.ActionLink("Registrar", "Create", "", new { @class = "btn btn-primary" })
    </p>

    <script>
        function generatePDF() {
            const element = document.getElementById("tabla");
            var opt = {
                filename: 'MedicosReportes.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            html2pdf().set(opt).from(element).save();

        }
    </script>
