<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top main-menu">
        <a class="navbar-brand" href="#">@Html.ActionLink("Clinica San Lucas", "Index", "Inicio", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mantenimiento
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">@Html.ActionLink("Medicos", "Index", "Medicos")</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Pacientes", "Index", "Pacientes")</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Habitaciones", "Index", "Habitaciones")</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Procesos
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">@Html.ActionLink("Citas Medicas", "Index", "TCitas")</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Ingresos", "Index", "TIngresos")</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Alta Medica", "Index", "TAltaMedicas")</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                Copyright © 2018-5830 Ivan Ernesto Matos Villar All Rights Reserved.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
