@model IEnumerable<ProyectoFinal.Models.Tablas.TAltaMedica>

@{
    ViewBag.Title = "Index";
}

<h2>Alta Medica</h2>
<br />
<div style="position: relative; left:40px;">
    @using (Html.BeginForm("Index", "TAltaMedicas", FormMethod.Post))
    {
        <div>
            <h6>Filtros de Busqueda</h6>
            <div class="row">
                @Html.TextBox("valor", "", new { @class = "form-control col-sm-4", placeholder = "Busqueda", required = "required" })
                <select name="select" class="form-control col col-lg-2">
                    <option value="">--Selecciones--</option>
                    <option value="fecha">Fecha Salida</option>
                    <option value="paciente">Paciente</option>
                </select>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    }
</div>
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingresos.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoPagar)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingresos.Fecha_Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoPagar)
            </td>
        </tr>
    }

</table>

<p class="text-right">
    @Html.ActionLink("Registrar", "Create", "", new { @class = "btn btn-primary" })
</p>

<br />
<hr />
<div>
    <h3 class="text-center">Resultados de filtros</h3>
    <br />
    <div id="button">
        <button class="btn btn-success" onclick="mostrar();">Ver <i class="fa fa-eye"></i></button>
    </div>
    <br />
    <div id="resultados">
        <div class="row">
            <div class="col card">
                <div class="card-body">
                    <h4 class="card-title">Conteo</h4>
                    <p class="card-text">Resultado: @ViewBag.conteo</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h4 class="card-title">Promedio</h4>
                    <p class="card-text">Resultado: @ViewBag.prom</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h4 class="card-title">Suma</h4>
                    <p class="card-text">Resultado: @ViewBag.total</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h4 class="card-title">Maximo</h4>
                    <p class="card-text">Resultado: @ViewBag.max</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h4 class="card-title">Minimo</h4>
                    <p class="card-text">Resultado: @ViewBag.min</p>
                </div>
            </div>
        </div>
        <br />
        <div class="text-right">
            <button class="btn btn-warning" onclick="ocultar();"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function mostrar() {

            $("#resultados").show('slow');
            $("#button").hide('slow');

        }

        function ocultar() {

        $("#resultados").hide('slow');
        $("#button").show('slow');

        }

        $("#resultados").hide('slow');

    </script>
}


