@model IEnumerable<ProyectoFinal.Models.Tablas.TCitas>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicos.Nombre) Medico
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre) Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Reserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Reserva)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Reserva)
            </td>
        </tr>
    }

</table>


<p class="text-right">
    @Html.ActionLink("Registrar", "Create","",new { @class = "btn btn-primary" })
</p>
