@model IEnumerable<ProyectoFinal.Models.Tablas.TCitas>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>
<br />
<div style="position: relative; left:40px;">
    @using (Html.BeginForm("Index", "TCitas", FormMethod.Post))
    {
        <div>
            <h6>Filtros de Busqueda</h6>
            <div class="row">
                @Html.TextBox("valor", "", new { @class = "form-control col-sm-4", placeholder = "Busqueda", required = "required" })
                <select name="select" class="form-control col col-lg-2">
                    <option value="">--Selecciones--</option>
                    <option value="fecha">Fecha</option>
                    <option value="medico">Medicos</option>
                    <option value="paciente">Pacientes</option>
                </select>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    }
</div>
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicos.Nombre) Medico
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre) Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Reserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Reserva)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_Reserva)
            </td>
        </tr>
    }

</table>


<p class="text-right">
    @Html.ActionLink("Registrar", "Create","",new { @class = "btn btn-primary" })
</p>
