@model ProyectoFinal.Models.Tablas.Habitaciones

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h5>Habitaciones</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdHabitaciones }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Atras", "Index", "", new { @class = "btn btn-primary" })
</p>
